.footer {
    background-color: #F5F5FA;
}

.footer-grid {
    border-top: 2px solid #E6E6F0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__one {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/3;
        }
    &__street {
        margin-top: 32px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #323264;
        display: inline-block;
    }
    &__onmap {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #24A3FF;
        display: inline-block;
        text-decoration: none;
    }
    &__two {
        display: flex;
        justify-content: center;
        grid-row: 3/4;
        grid-column: 1/3;
    }
    &__three {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/3;
        grid-row: 2/3;
    }
    &__copy {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #B3B3BA;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    &__fb {
        margin-bottom: 10px;
        display: inline-block;
        &:hover &-red {
            transition-duration: 0.3s;
            transition-property: fill;
            fill: #F0145A;
        }
    }
    &__phone {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #46466E;
        display: inline-block;
        text-decoration: none;
    }
    &__mail {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #24A3FF; 
        display: inline-block;
        text-decoration: none;
        &:hover {
            transition-duration: 0.3s;
            transition-property: color;
            color: #F0145A;
        }
    }
}

/*====================================*/

@media screen and (min-width: 768px) {
    .footer-grid {
        &__one {
            grid-column: 1/2;
            flex-direction: row;
            align-items:flex-start;
        }
        &__onmap {
            margin-top: 34px;
            margin-left: 27px;
            position: relative;
            &::before {
                content: '';
                height: 6px;
                width: 6px;
                background-color: #B3B3BA;
                border-radius: 50%;
                position: absolute;
                left: -17px;
                top: 4px
            }
        }
        &__two {
            grid-column: 2/3;
            grid-row: 1/2;
        }
        &__three {
        grid-column: 1/3;
        grid-row: 2/3;
        flex-direction: row;
        align-items: center;
        }  
        &__copy {
            margin-top: 31px;
            margin-bottom: 21px;
            margin-left: 46px;
        }
        &__phone {
            margin-left: 27px;
            position: relative;
            &::before {
                content: '';
                height: 6px;
                width: 6px;
                background-color: #B3B3BA;
                border-radius: 50%;
                position: absolute;
                left: -17px;
                top: 7px
            }
            &::after {
                content: '';
                height: 6px;
                width: 6px;
                background-color: #B3B3BA; /*#E6E6F0;*/
                border-radius: 50%;
                position: absolute;
                left: 113px;
                top: 7px
            }
        }   
        &__mail {
            margin-left: 27px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        padding-bottom: 50px;
    }
    .footer-grid__two {
        justify-content: flex-end;
    }
}