/* Mobile first */
// @media screen and (min-width: 767px) {
//     .lang__item {
//         width: 50%;
//     }

//     .cards2__wrap {
//         width: 50%;
//     }

//     .section__head p {
//         width: 600px;
//     }

//     .section__head h2 {
//         white-space: normal; 
//     }    
// }

// @media screen and (min-width: 991px) {
//     .cards__wrap {
//         width: 25%;
//     }

//     .cards2__wrap {
//         width: 25%;
//     }
// }
/*
@media screen and (min-width: 500px) {

    .logo-humburger__slash {
        display: none;
    }

    .logo-humburger__services {
        display: none;
    }

    .nav {
        display: block;
        // background-color: rgb(67, 165, 42);
    }

    .logo-humburger__right {
    display: none;
    }

    }


    @media screen and (min-width: 700px) {

    .header {
        grid-template-columns: 1fr 1fr;
    }

    .lang-phone {
        // background-color: brown;
        grid-row: auto;
    }
    .logo-humburger {
        // background-color: rgb(228, 248, 4);
        grid-row: 1/3;
    }


    }

*/






