.table {
    margin-left: 30px;
    margin-right: 30px;
    &__wrap {
        background-color: #F5F5FA;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 30px;
        background-color: #fff;
        &:nth-child(1) {
            width: 100%;
        }
         &:nth-child(2) {
             width: 100%;
        }
         &:nth-child(3) {
             width: 100%;
        }
    }
    &__up-ref {
        padding-top: 31px;
        padding-bottom: 4px;
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 30px;
    }
}

.down-cards {
    display: flex;
    flex-direction: column;

    &__image {
        height: 200px;
        & img {
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }
    &__content {
        padding: 30px;
        & p:nth-child(1) {
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #24A3FF;
            padding-bottom: 15px;
        }
        & p:nth-child(2) {
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #B3B3BA;
            border-bottom: 4px solid #E6E6F0;
            padding-bottom: 15px;
        }
        & p:nth-child(3) {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            padding-top: 15px;
        }
    }
}

/*===============================*/

@media screen and (min-width: 768px) {

    .table {
        margin-left: 60px;
        margin-right: 60px;
        &__title {
            font-size: 38px;
            line-height: 46px;
        }
        &__up-ref {
            padding-bottom: 7px;
        }
        &__wrap {
            justify-content: space-between;
        }
        &__item:nth-child(1) {
            width: 48%;
        }
        &__item:nth-child(2) {
            width: 48%;
        }
        &__item:nth-child(3) {
            width: 100%;
        }
    }
}

@media screen and (min-width: 1024px) {
    .table {
        &__item:nth-child(1) {
            width: 31%;
        }
        &__item:nth-child(2) {
            width: 31%;
        }
        &__item:nth-child(3) {
            width: 31%;
        }
    }
}



