* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-style: normal;
}

.container {
    max-width: 1320px;
    min-width: 375px;
    margin: 0 auto;
}

.inner-container {
    padding: 0 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrap-grey {
    background-color: #F5F5FA;
}

/*========================================*/

@media screen and (min-width: 768px) {
    .inner-container {
        padding: 0 60px;
    }
   
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }    
}
